<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset="utf-8"> 
		<title>iFrame message passing test</title> 
		<meta name="description" content="iFrame message passing test">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://dvarcarcel.dev.sproutloud.com/includes/macaw-styles.css" >
        <script src="https://aquiceno.dev.sproutloud.com/includes/CanvasSDK.js"></script>
	</head>
	<body data-gr-c-s-loaded="true" class="m-external-widget">
        <label id="app-widget-label">Url Manager</label><br>
        <select id="app-widget-input" class="m-select">
            <option>Select a url</option>
            <option value="fr">https://scotch.com/site</option>
            <option value="co">https://scotch.com/tyc</option>
            <option value="it">https://scotch.com/faq</option>
        </select>

        <script>

            /**
             * function which contacts widget's server in order to decrypt
             * a string provided by the SDK. The returned value is simply
             * whatever the decrypted sting is...
             *
             * @param {String} eNonce
             *    The encrypted string provided by the SDK
             *
             * @return {Promise<Object>}
             *    A promise which is fullfilled with the decrypted value
             *    of the the eNonce parameter
             */
            function getNonce(eNonce) {
                return $.ajax({
                    url: '/nonce',
                    type:   'POST',
                    dataType: 'json',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'n' : eNonce,
                    }
                });
            }

            /**
             * function to populate the HTML elements of this widget. This
             * function was designed to consume the "components" object 
             * returned by the SDK's "getComponents()" function. 
             *
             * @param {Map} components
             *    A map object filled with all the components assigned
             *    to this widget instance.
             *
             * @return {String}
             *    The component_name
             */
            function setValue(components) {
                console.log("setting component values", components);
                // grab the iterator and use it to retrieve the first component 
                // (in this case, we're just expecting one component)
                let iterator = components.values();
                let component = iterator.next().value;
                console.log("iterator", iterator);
                console.log("component", component);

                // use the component to populate the label, name, and value of the 
                // corresponding HTML element
                $('#app-widget-label').text(component.label);
                $('#app-widget-input').val(component.value);
                $('#app-widget-input').attr('name', component.name);

                // return component name for use in our modal
                return component.name;
            }

            /**
             * function to get the values of the components this widget is 
             * servicing. This function was designed to provide values
             * for the SDK, therefore, it's returning them as an array
             * of objects with a "name", and "value" attribute.
             *
             * @return {Array<Object>}
             *    A single entry array with an object containing
             *    the name and the value of the component this widget
             *    is servicing
             */
            function getValue() {

                // in this case, this widget is designed to only support 
                // one component at a time, therefore this function will
                // return an array containint just one object
                return [
                    {
                        name:   $('#app-widget-input').attr('name'),
                        value:  $('#app-widget-input').val()
                    }
                ];
            }

            /**
             * function to prepare a "hello world" modal window displaying
             * the name of the underlying component this widget is servicing
             *
             * @param {String} componentName
             *    The component name we wish to use in our modal
             *
             * @return {Object}
             *    An object specially built to be used with the SDK's modal 
             *    function
             */
            function prepareModal(componentName) {

                // define title
                let titleContent = 'HELLO WORLD MODAL!'

                // define html content
                let htmlContent =
                    '<div>I am servicing this component: <b>' + componentName + '</b></div>' +

                    // basic cross script attack attempt
                    "<div> <script> Alert('xss!'); </sc" +
                    "ript> </div>";

                // randomly choose small, medium, or large
                var randomIndex = Math.floor(Math.random() * 3); // returns a random integer from 0 to 2
                let sizes = ['small', 'medium', 'large'];

                // return object
                return {
                    html:   htmlContent,
                    size:   sizes[randomIndex],
                    title:  titleContent
                };
            }

            console.log("Let's initialize the canvas");
            // interaction with the sdk
            // 1. initialize SDK
            window.CanvasSDK.initialize({

                'nonce': function(e) {
                    return getNonce(e);
                },
                'component-values': function() {
                    return getValue();
                }
            })
            // 2. get the components (and their persisted values) associated with this widget
            .then(function() {
                console.log('Hanshake done - Now get the components');
                return window.CanvasSDK.getComponents();
            })
            // 3. use the response from the previous call to get the components in order to populate the UI
            .then(function(response){

                // Internally set value (and get component name for use in our modal)
                let componentName = setValue(response.components);

            });

        </script>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/iframeResizer.contentWindow.min.js' %}"></script>
    </body>
</html>